# Dependencies
node_modules

# Source
src

# Lockfile
pnpm-lock.yaml

# TypeScript
tsconfig.json
tsup.config.ts

# Git & GitHub
.github
.gitignore
.git

# Prettier
.prettierrc.yml
.prettierignore

# Logs
**/*.log*

# Miscellaneous
**/*.env*
**/.DS_Store